body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  color: white;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: none;
  width: 250px;
}

button {
  padding: 10px 20px;
  border-radius: 8px;
  border: none;
  background: #ff7a18;
  color: white;
  cursor: pointer;
}

button:hover {
  background: #ff5722;
}